---

journal_collaction: False
osd_scenario: non-collocated

devices:
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/sdh
  - /dev/sdi
  - /dev/sdj
  - /dev/sdk

dedicated_devices:
  - /dev/sdc
