DEVICE="bond0"
BOOTPROTO="none"
NAME="bond0"
TYPE="Bond"
BONDING_MASTER=yes
ONBOOT="yes"
MTU=9000
BONDING_OPTS="mode=active-backup"
IPV4_FAILURE_FATAL="yes"
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_FAILURE_FATAL="no"
BRIDGE="br-trunk"
