#cloud-config
 
groups:
  - stack
 
users:
  - name: stack
    gecos: Stack User
    primary_group: stack
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_password: true
    ssh_authorized_keys:
      - "{{ rootsshpubkey }}"
      - "{{ dcisshpubkey }}"

rh_subscription:
  username: "{{ rhn_user }}"
  password: "{{ rhn_pass }}"
  add-pool: 
    - "{{ rhn_pool_id }}"
  enable-repo:
    - "rhel-8-for-x86_64-baseos-rpms"
    - "rhel-8-for-x86_64-appstream-rpms"
    - "rhel-8-for-x86_64-highavailability-rpms"
    - "ansible-2.8-for-rhel-8-x86_64-rpms"
    - "satellite-tools-6.5-for-rhel-8-x86_64-rpms"
    - "openstack-16-for-rhel-8-x86_64-rpms"
    - "fast-datapath-for-rhel-8-x86_64-rpms"

